*{
    margin: 0;
    padding: 0;
    
}

/*content*/
.container{
    
    /* Position */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);

   
}


/*text*/
h2{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 8vw;
    color: indigo;
}

.username{
    /*text*/
    text-align: center;
    color: gray;
    font-size: 5vw;
}

.habit-area{
    /*position*/
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);

    /*text*/
    font-size: 4vw;
    color: gray;
    text-align: center;
}


/*button*/
.button{
    display: flex;
    flex-direction: row;
    position: absolute;
    
    top: 200%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.plus, .delete{
    margin: 15px;
    height: 8vw;
    width: 8vw;
    border-radius: 20%;
    text-align: center;
    border: 3px;
    border-style: solid;
    border-radius: 6px;
    font-size: 7vw;
    padding: auto;
}

.plus{
    border-color: green;
    color: green;
}

.button a{
    text-decoration: none;
}

.delete{
    border-color: red;
    color: red;
}

/*area habit card*/
.habit-area{
    width: 80%;
    height: 30%;
    display: flex;
    flex:row;
    overflow-x: scroll;
}

.habit-card{
    min-width: 40vw;
    max-height: 40vw;
    margin: 3vw;
    border: 0px;
    border-style: solid;
    border-color: black;
    border-radius: 3vw;
    background-color: #32d1c1;
    text-transform: capitalize;
}

.home-judul-habit{
    color: white;
    padding: 2vw;
    font-size: 7vw;
}

.home-jumlah-hari{
    margin-top: 4vw;
    font-size: 4vw;
    text-align: center;
    color: beige;
}

.tanda-hapus{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: red;
    font-size: 4vw;
    margin: 2vw;
    padding: 1vw;
    text-align: left;
    position: absolute;
    top: 5%;
    border: 1vw;
    border-style: solid;
    border-color: red;
    border-radius: 4vw;
    visibility: hidden;
    background-color: white;
}
